.sidenav-container {
  height: 100vh;

  .blue-sidenav {
  width: 220px;
  background-color: white; 
  color: #1a237e; // azul más oscuro para el texto
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  border-right: 1px solid rgba(58, 116, 241, 0.05);
  box-shadow: 2px 0 8px rgba(58, 116, 241, 0.05);

  mat-nav-list {
    padding: 0;

    a.mat-list-item {
      color: #2E70F4;
      font-weight: 500;
      padding: 12px 24px;
      border-radius: 6px;
      margin: 4px 8px;
      display: flex;
      align-items: center;
      transition: background-color 0.2s, transform 0.2s;

      &:hover {
        background-color: rgba(63, 81, 181, 0.1);
        transform: translateX(2px);
      }

      &.active {
        background-color: rgba(63, 81, 181, 0.2);
      }

      mat-icon {
        margin-right: 16px;
        color: #2E70F4;;
      }
    }
  }
}


  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    mat-toolbar {
      position: sticky;
      top: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      background-color: #3f51b5;
      color: #fff;
      padding: 0 16px;
      height: 64px;

      button {
        color: #fff;
      }

      .spacer {
        flex: 1;
      }

      .user-info {
        margin-right: 16px;
        font-weight: 500;
        font-size: 14px;
      }
    }

    .content {
      flex: 1;
      padding: 24px;
      background-color: #f5f5f5; // gris suave
      min-height: calc(100vh - 64px);
    }
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidenav-container {
    .sidenav {
      width: 180px;
    }

    mat-toolbar {
      .user-info {
        display: none;
      }
    }
  }

  
}
