<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened class="sidenav blue-sidenav">
     <!-- Logo -->
  <div class="logo-container">
    <img src="/logo.png" alt="Logo">
  </div>
    
    <mat-nav-list>
      <!-- Siempre visible -->
      <a mat-list-item routerLink="/dashboard">
        <mat-icon matListIcon>dashboard</mat-icon>
        <span> Dashboard</span>
      </a>

      <a mat-list-item routerLink="/projects">
        <mat-icon matListIcon>work</mat-icon>
        <span> Proyectos</span>
      </a>

      <!-- Solo para admin_empresa y superadmin -->
      <a *ngIf="user?.rol === 'admin_empresa' || user?.rol === 'superadmin'" 
         mat-list-item routerLink="/users">
        <mat-icon matListIcon>group</mat-icon>
        <span> Usuarios</span>
      </a>

      <!-- Solo para superadmin -->
      <a *ngIf="user?.rol === 'superadmin'" 
         mat-list-item routerLink="/companies">
        <mat-icon matListIcon>business</mat-icon>
        <span> Empresas</span>
      </a>

      <!-- Solo para admin_empresa y superadmin -->
      <a *ngIf="user?.rol === 'admin_empresa' || user?.rol === 'superadmin'" 
         mat-list-item routerLink="/customers">
        <mat-icon matListIcon>people</mat-icon>
        <span> Clientes</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span> Task Manager</span>
      <span class="spacer"></span>

      <span *ngIf="user" class="user-info">
        {{ user.name }} ({{ user.rol }})
      </span>

      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
