<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened class="sidenav">
<mat-nav-list>
  <!-- Siempre visible -->
  <a mat-list-item routerLink="/dashboard">Dashboard</a>
  <a mat-list-item routerLink="/projects">Proyectos</a>

  <!-- Solo para admin_empresa y superadmin -->
  <a *ngIf="user?.rol === 'admin_empresa' || user?.rol === 'superadmin'" 
     mat-list-item routerLink="/users">Usuarios</a>

  <!-- Solo para superadmin -->
  <a *ngIf="user?.rol === 'superadmin'" 
     mat-list-item routerLink="/companies">Empresas</a>

  <!-- Solo para admin_empresa y superadmin -->
  <a *ngIf="user?.rol === 'admin_empresa' || user?.rol === 'superadmin'" 
     mat-list-item routerLink="/customers">Clientes</a>
</mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Task Manager</span>
      <span class="spacer"></span>

      <span *ngIf="user" class="user-info">
        {{ user.name }} ({{ user.rol }})
      </span>

      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
