<h2 mat-dialog-title>{{ data ? 'Editar Tarea' : 'Nueva Tarea' }}</h2>

<form [formGroup]="tareaForm" (ngSubmit)="guardar()" class="task-form">

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="descripcion" rows="3"></textarea>
    <mat-error *ngIf="tareaForm.get('descripcion')?.hasError('required')">
      La descripción es obligatoria.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Ubicación</mat-label>
    <input matInput formControlName="ubicacion" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha Inicio Estimado</mat-label>
    <input
      matInput
      [matDatepicker]="inicioPicker"
      formControlName="fechaInicioEstimado"
      [min]="minFechaHoy"
      (dateChange)="onFechaInicioChange($event.value)"
    />
    <mat-datepicker-toggle matSuffix [for]="inicioPicker"></mat-datepicker-toggle>
    <mat-datepicker #inicioPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha Fin Estimado</mat-label>
    <input
      matInput
      [matDatepicker]="finPicker"
      formControlName="fechaFinEstimado"
      [min]="minFechaFin || minFechaHoy"
    />
    <mat-datepicker-toggle matSuffix [for]="finPicker"></mat-datepicker-toggle>
    <mat-datepicker #finPicker></mat-datepicker>

    <mat-error *ngIf="tareaForm.get('fechaFinEstimado')?.hasError('fechaFinAntesDeInicio')">
      La fecha fin no puede ser anterior a la fecha inicio.
    </mat-error>
  </mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Prioridad</mat-label>
  <mat-select formControlName="prioridad">
    <mat-option [value]="0">Baja</mat-option>
    <mat-option [value]="1">Media</mat-option>
    <mat-option [value]="2">Alta</mat-option>
  </mat-select>
</mat-form-field>


  <mat-checkbox formControlName="attachmentRequerido">Attachment Requerido</mat-checkbox>
  <mat-checkbox formControlName="ubicacionRequeridaAlCerrar">Ubicación Requerida Al Cerrar</mat-checkbox>

  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button type="button" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!tareaForm.valid">Guardar</button>
  </mat-dialog-actions>

</form>
